    body {
      background-color: lightpink;
      font-family: 'Otomanopee One', sans-serif;

    }

    .title  {
      position: relative;
      padding-left: 43%;
    }

    .players  {
      position: relative;
      padding-left: 43%;
    }

    #player1  {
      color: red;

    }

    #player2  {
      color: blue;

    }


    .board {
      position: relative;
      padding-left: 40%;
      display: inline-grid;
      grid-template-rows: 100px 100px 100px;
      grid-template-columns: 100px 100px 100px;
      grid-gap: 3px;

    }
    .box {
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 3em;
      background: white;
      border: 1px solid gray;
      border-radius: 5px;
      position: relative;
      text-align: center;
      cursor: pointer;
    }


    .winning-message {
      position: relative;
      padding-top: 10px;
      padding-left: 40%;
    }




    #winningMsgText {
      font-size: 20px;
      font-style: italic;
    }