    body {
      background-color: lightpink;
      font-family: 'Otomanopee One', sans-serif;

    }

    .title  {
      position: relative;
      padding-left: 43%;
    }

    #stats {
      width: 20%;
      padding-left: 40%;
    }
    #stats div {
      font-size:1em;

      display:inline-block;
      text-align:center;

      padding: 20px;
    }
    .stats-square {
      width:3rem;
      height:1.5rem;
    }


    #stats table tr td {
      font-size:1rem;
      padding: 1rem;
      white-space:nowrap;
      border-collapse: separate;
    }
    #stats table tr th {
      font-style:italic;
    }

    #player1-stats {
      color: red;
    }
    #player2-stats {
      color: blue;
    }


    .board {
      position: relative;
      padding-left: 40%;
      display: inline-grid;
      grid-template-rows: 100px 100px 100px;
      grid-template-columns: 100px 100px 100px;
      grid-gap: 3px;

    }
    .box {
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 3em;
      background: white;
      border: 1px solid gray;
      border-radius: 5px;
      position: relative;
      text-align: center;
      cursor: pointer;
    }


    .winning-message {
      position: relative;
      padding-top: 10px;
      padding-left: 40%;
    }




    #winningMsgText {
      font-size: 20px;
      font-style: italic;
    }